# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Frontend (casino)
/casino/node_modules/
/casino/dist/
/casino/.cache/

# Backend (casinoAPI)
/casinoAPI/venv/
/casinoAPI/node_modules/
/casinoAPI/**/__pycache__/
/casinoAPI/*.sqlite3
/casinoAPI/media/
/casinoAPI/staticfiles/
/casinoAPI/.pytest_cache/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs
*.log
